[defaults]
inventory = ./inventory

# 1. Point to the folder that CONTAINS the 'rhel' namespace directory
collections_path = /home/admin/mycollections:/ansible_platform/collection/custom_collection

# 2. Point to the folder that CONTAINS the 'newuser' role directory
roles_path = /ansible_platform/collection/custom_collection/rhel/user/roles
