[defaults]
# Standard defaults can go here (e.g., inventory location, roles_path)
inventory = ./inventory

[galaxy] 
server_list = published 

[galaxy_server.published] 
url = https://rhel9-workstation02.mainak.com/api/galaxy/ 
validate_certs = False
token=6962ddc84ac2645d191705e345c146b61ab5d7b2
