[defaults]
# Standard defaults can go here (e.g., inventory location, roles_path)
inventory = ./inventory
#collections_path = ./dependencies/collections

[galaxy]
# Define your custom server as the primary (or part of the) server list
server_list = automation_hub

[galaxy_server.automation_hub]
# The specific endpoint for your lab Automation Hub
url = https://rhel9-workstation02.mainak.com/api/galaxy/
validate_certs = False
# Replace the placeholder below with your actual API token from the Hub UI
token = 8f0b29817fbe242f5e72f112db296df6b31407f8
